.button {
  flex: 1;
  border: 1px solid #58a6ff;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #58a6ff;
  color: white;
  cursor: pointer;
  font-weight: 600;

  &.red {
    border: 1px solid var(--color-danger-bg);
    background-color: var(--color-danger-bg);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }
}
