.inputContainer {
  display: flex;
  flex-direction: column;
}

.innerContainer {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

  svg {
    width: 1.5rem;
    height: 1rem;
    color: var(--color-text-primary);
    stroke: var(--color-text-primary);
  }
}

.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;

    path {
      fill: var(--color-text-primary);
    }
  }

  &:hover {
    background-color: var(--color-accent-light);
    border-radius: 5px;
  }
}

.inputLabel {
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.errorMessage {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: var(--color-danger-bg);
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--color-border-subtle);
  background-color: var(--color-bg);
  color: var(--color-text-primary);

  &.ellipsis {
    text-overflow: ellipsis;
  }

  &.error {
    border-color: var(--color-danger-bg);
  }

  &.disabled {
    background-color: var(--color-border-subtle);
  }

  &:focus {
    outline: var(--color-accent) solid 2px;
    outline-offset: 2px;
  }

  &.withIcon {
    padding-left: 2rem;
  }
}
