.button {
  border: 1px solid #58a6ff;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #58a6ff;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.red {
    border: 1px solid var(--color-danger-bg);
    background-color: var(--color-danger-bg);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(&.disabled) {
    opacity: 0.8;
  }

  svg {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0;
    padding: 0;
  }
}

a.button {
  text-decoration: none;
}
