.navigation {
  position: absolute;
  width: 3rem;
  height: 3rem;
  stroke: var(--color-text-primary);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.left {
  left: -1rem;
  top: 30%;
}

.right {
  right: -1rem;
  top: 30%;
}
