.container {
  padding: 0 2rem 2em 2rem;
  overflow: auto;
}

.segment {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.header {
  padding-top: 2rem;
  background-color: var(--color-bg);
  z-index: 1;
  position: sticky;
  top: 0;
}

.channels {
  position: relative;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  color: var(--color-text-primary);
  background-color: var(--color-card-bg);
  option {
    color: black;
    background-color: white;
  }
}
