.container {
  padding: 0 4rem 3rem 4rem;
  overflow: auto;
}

.segment {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.header {
  padding-top: 2rem;
  background-color: var(--color-bg);
  z-index: 1;
  position: sticky;
  top: 0;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .segment {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .segment {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .segment {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dropdown {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  color: var(--color-text-primary);
  background-color: var(--color-card-bg);
  option {
    color: black;
    background-color: white;
  }
}
