.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.dropdown {
  padding: 0.5rem;
  border: 1px solid var(--color-border-subtle);
  border-radius: 3px;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  option {
    color: black;
    background-color: white;
  }
}
