.wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;

  visibility: hidden;
  transition: opacity 0.6s;
  opacity: 0;

  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: var(--color-border-subtle);
  background: var(--color-accent-contrast);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: wrap;
  width: 10rem;
}

.wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip::before {
  content: ' ';
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

.tooltip.top {
  top: calc(var(--tooltip-margin) * -1);
}

.tooltip.top::before {
  top: 100%;
  border-top-color: var(--color-accent-contrast);
}

.tooltip.right {
  --tooltip-margin: 10px;
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.tooltip.right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--color-accent-contrast);
}

.tooltip.bottom {
  bottom: calc(var(--tooltip-margin) * -1);
}

.tooltip.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--color-accent-contrast);
}

.tooltip.left {
  --tooltip-margin: 10px;
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.tooltip.left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--color-accent-contrast);
}
