.Settings {
  padding: 5rem;
  overflow: auto;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  max-width: 20rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
