.Settings {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.content {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section {
  max-width: 30rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
