.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem 1rem 0 0;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    path {
      stroke: var(--color-text-primary);
    }
  }

  &:hover {
    background-color: var(--color-accent-light);
    border-radius: 5px;
  }
}
