.SessionList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table {
  border-spacing: 0;
  th,
  td {
    text-align: left;
    padding: 8px;
    white-space: nowrap;
  }

  th {
    font-weight: 500;
    font-size: 1rem;
  }

  td {
    font-weight: 400;
    font-size: 0.9rem;
  }

  tbody tr:nth-child(odd) {
    background-color: var(--color-card-bg);
  }

  tr {
    border-radius: 10px;
  }
}

.sessionDeleteButton {
  path {
    stroke: var(--color-text-primary);
  }
}

@media screen and (max-width: 750px) {
  .created {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .ip {
    display: none;
  }
}
