.navigation {
  width: 3rem;
  height: 3rem;
  stroke: var(--color-text-primary);
  cursor: pointer;
}

.left {
  position: absolute;
  left: 0.5rem;
  top: 50%;
}

.right {
  position: absolute;
  right: 0.5rem;
  top: 50%;
}
