.root {
  display: flex;
  height: 100vh;
  width: 100%;
}

.navigation {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 14rem;
  height: 100%;
  z-index: 100;
  margin-top: 3.5rem;

  &.expanded {
    display: block;
  }
}

.main {
  position: relative;
  flex: 1 1 0%;
  width: 0;
  min-width: 0;
  margin-top: 3.5rem;
}

@media screen and (min-width: 700px) {
  .navigation {
    display: block;
  }

  .main {
    margin-left: 14rem;
  }
}

.loading {
  opacity: 0.5;
}
