.TabItem {
  border-bottom: 1px solid var(--color-border-subtle);
  padding: 0.5rem;

  &.active {
    border-bottom: 2px solid var(--color-accent);
  }
}

.button {
  background: transparent;
  outline: none;
  border: none;
  color: var(--color-text-primary);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;

  &.active,
  &:hover {
    background-color: var(--color-accent-light);
  }

  &.active {
    color: var(--color-accent);
  }
}

.Tabs {
  display: flex;
  flex-wrap: wrap;
}
