name: CI

on:
  pull_request:
    branches: [main]

jobs:
  go-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Go
        uses: actions/setup-go@v6
        id: go
        with:
          go-version: 1.25

      - run: go mod download
      - run: go test ./...

  build-ui:
    uses: ./.github/workflows/build-ui.yml
    with:
      upload_artifact: false
