.channel {
  padding: 0 3rem 3rem 3rem;
  overflow: auto;
}

.header {
  padding: 2rem 0;
  position: sticky;
  top: 0;
  background-color: var(--color-bg);
  z-index: 1;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
